.customTable, .customTable th,
.customTable td, .customTable thead th {
background-color: #EDEDED;
  }
  
[data-bs-theme='dark'] .customTable{
  background-color: #212529;
}
[data-bs-theme='dark'] .customTable th{
    background-color: #212529;
}   
[data-bs-theme='dark'] .customTable td{
    background-color: #212529;
} 
[data-bs-theme='dark'] .customTable thead th {
    background-color: #212529;
  }