.swiperContainer{
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  @media (min-width: 992px) {
    .swiperContainer{
      padding: 0 96px;
    }

  }
  .gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%, 
      rgba(255, 255, 255, 1) 8%,
      rgba(255, 255, 255, 0.9) 11%,
      rgba(255, 255, 255, 0) 15%, 
      rgba(255, 255, 255, 0) 85%, 
      rgba(255, 255, 255, 0.9) 89%, 
      rgba(255, 255, 255, 1) 92%, 
      rgba(255, 255, 255, 1) 100% 
    );
    pointer-events: none;
    z-index: 5;
  }
  [data-bs-theme='dark'] .gradientOverlay {
    background: rgba(255, 255, 255, 0);
    pointer-events: none;
    z-index: 5;
  }
  .customSliderImg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 56px;
    min-height: 300px;
  }
  .customSliderImg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #21212199; 
    z-index: 1; 
    border-radius: 56px;
  }
  .customSliderImg > * {
    position: relative;
    z-index: 2;
  }
