@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
$custom-colors: (
  "secondary": #08c056,
  "primary": #2140d4,
  "text": #7e8186,
  "gray": #c8d7ff,
  "darkText":#4C5D77,
  "light":#FAFBFFCC,

);
$spacers: map-merge($spacers, ("12": 12px, "32": 32px,"96":96px,));

$theme-colors: map-merge($theme-colors, $custom-colors);
@import "~bootstrap/scss/bootstrap";
